<article class="post">
  <div class="title">
    <span>Id: {{{id}}}</span>
    <span>Title: {{{title}}}</span>
  </div>
  <span> Content: {{{content}}}</span>
  <span> Date: {{{format_date created_at}}}</span>
  <span> Created by: {{{user.username}}}</span>
   <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
</article>